div#footer
    div.container
        div.row
            div.col-xs-2
                p.text-muted © 2016 Polka.ru Inc
            div.col-xs-2.col-xs-offset-8
                p.text-muted
                    a.text-muted(href='/sitemap') Карта сайта



