div.wrap
    header
        span.logotype
        div.header-name
            a(href='./')
                p  Polka.ru
        div.search-form
            form#q
                input(name='search' type="search" id="search" placeholder="Искать по названию или автору" required)
                input(name='icon' type="image" src='../images/find.png' class="find" alt="Поиск")
        nav.header-nav
            ul
                li
                    a О нас
                li
                    a Библиотека
                li
                    a(href='/login') Вход / Регистрация