doctype html
html
  head
    block head
      meta(charset='UTF-8')
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
  body
    div.wrapper
      block header
          include incudes/header
      block content
      block footer
        include  incudes/footer