extends layout
block append head
    script(src='javascripts/login.js' defer)
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
    div.main-content
        .mainLoginForm
            form
                div.logginFormButtons
                    input(name="enter" type="button" value="Вход")
                    input(name="registration" type="button" value="Регистрация")
                div.loginFormLine
                    span
                       input(name='login', type='email', placeholder='Email' required)
                div.loginFormLine
                    span
                        input(name='username', type='text', placeholder='Имя пользователя' required)
                div.loginFormLine
                    span
                        input(name='password', type='password', placeholder='Пароль' required)
                div.loginFormLine
                    span
                        input#send(type='button', value='Зарегистрироваться')
