/* login form */
.btn-group, .btn-group-vertical {
    margin-bottom: 15px;
}
.checkbox label {
    padding-left: 10px;
}
.checkbox input[type=checkbox] {
    margin-left: 10px;
}
.checkbox {
    display: none;
}
.popover{
    color: rgb(169, 68, 66);
    background-color: rgb(242, 222, 222);
    border-color: rgb(235, 204, 209);
}