* {
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 780px;
  height: 100%;
  background-color: #e0af66;
}

a {
  cursor: pointer;
  text-decoration: none;
  color:#272727;
}

/* форма поиска*/
#q {
  height: 25px;
  max-width: 470px;
  background: #fff;
  display: inline;
}

#search {
  width: 400px;
  height: 10px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  padding: 10px 2px;
}

.find {
  vertical-align: -5px;
  padding-right: 5px;
}

/* хеадер */
.wrap {
  background: lemonchiffon;
  height:80px;
}
span.logotype {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
  margin: 10px 0px 0px 20px;
  background: url('../images/books.png');
}
.header-name {
  display: block;
  float: left;
  width: 170px;
  text-align: center;
  padding: 0px;
  margin: 20px 0px 0px 0px;

}
.search-form {
  display: block;
  float: left;
  margin: 30px 0px 0px 0px;
}

nav.header-nav ul{
  text-align:center;
  margin:0px 0px 0px 10px;
}

.header-nav li {
  display: inline-block;
  float: right;
}

.header-nav a{
  display: block;
  padding:0px;
  width: 140px;
  height: 70px;
  margin: 32px 0px -5px 8px;
  text-align:center;

}

/* Main content */

.main-content-title h1{
  /*margin: 0px 0px 0px 15px;*/
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}
/* Книжечки */
.book-line {
  margin-top: 15px;
  padding-left: 15px;
  border-bottom: solid coral;
}

.book-line-title {
  margin-left: 5px;
  margin-bottom: 10px;
}

.book-line span {
  display: inline-block;
  margin: 5px;
}

/* login form */
.mainLoginForm {
  position: fixed;
  text-align: center;
  background: beige;
  width: 400px;
  border-radius: 5px;
  border: solid 2px;
  /* align center login form*/
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.loginFormBtns {
  margin: 10px;
}

.loginFormBtns input {
  width: 100px;
  background: plum;
}

.loginFormLine {
  margin: 10px;
}

.loginFormLine input {
  width: 70%;
}

.userName {
  display: none;
}
/* footer */
footer {
  background-color: burlywood;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 50px;
  /*position: absolute;*/
  left: 0;
  bottom: 0;
}